#bar {
    margin: 30px /* affects top/bottom & left/right alignment */
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #999;
    text-shadow: none;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    -gtk-icon-shadow: none;
}

button:hover {
    background-color: rgba (255, 255, 255, 0.1)
}

button:focus {
    box-shadow: 0 0 4px;
}

grid {
    /* e.g. for common background to all buttons */
}
