* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  font-weight: bold;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
/*@keyframes blink_red {
  to {
    background-color: rgb(242, 143, 173);
    color: rgb(26, 24, 38);
  }
}*/
.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
window#waybar {
  background-color: transparent;
}
window > box {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: rgba(30, 31, 41, 230);
}
#workspaces {
  padding-left: 0px;
  padding-right: 4px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
}
#workspaces button.focused {
  background-color: #bd93f9;
  color: rgba(30, 31, 41, 230);
}
#workspaces button.urgent {
  color: rgb(26, 24, 38);
}
#workspaces button:hover {
  background-color: #44475a;
  color: #f8f8f2;
}
tooltip {
  background: #f8f8f2;
}
tooltip label {
  color: #51A2DA;
}
#custom-launcher {
  padding-left: 8px;
  padding-right: 6px;
  color: #51A2DA;
  font-size: 18pt;

}
#mode, #clock, #memory, #temperature,#cpu,#mpd, #idle_inhibitor, #temperature, #backlight, #pulseaudio, #network, #battery, #custom-powermenu, #custom-cava-internal {
  padding-left: 10px;
  padding-right: 10px;
}
/* #mode { */
/* 	margin-left: 10px; */
/* 	background-color: rgb(248, 189, 150); */
/*     color: rgb(26, 24, 38); */
/* } */
#memory {
  color: #8be9fd;
}
#cpu {
  color: #ff79c6;
}
#clock {
  color: rgb(217, 224, 238);
}
#idle_inhibitor {
  color: #bd93f9;
}
#temperature {
  color: rgb(150, 205, 251);
}
#backlight {
  color: rgb(248, 189, 150);
}
#pulseaudio {
  color: #f1fa8c;
}
#network {
  color: #50fa7b;
}

#network.disconnected {
  color: rgb(255, 255, 255);
}
#battery.charging, #battery.full, #battery.discharging {
  color: #50fa7b;
}
#battery.normal:not(.charging) {
  color: #f1fa8c;
}
#battery.warning:not(.charging) {
  color: #ffb86c;
}
#battery.critical:not(.charging) {
  color: #ff5555;
}
#custom-powermenu {
  color: #f8f8f2;
}
#tray {
  padding-right: 6px;
  padding-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #6272a4;
}
#mpd.paused {
  color: #414868;
  font-style: italic;
}
#mpd.stopped {
  background: transparent;
}
#mpd {
  color: #c0caf5;
}
#custom-cava-internal{
  font-family: "Hack Nerd Font" ;
}
